* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  height: 200px;
  display: flex;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  position: relative;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
nav {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  gap: 15px;
}
nav a {
  text-decoration: none;
  font-family: "Akaya Kanadaka", system-ui;
}
.titulo {
  font-size: 50px;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
}
.logo {
  width: 200px;
}
.container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  flex: 1;
}

.articulo {
  width: 150px;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
}

.articulo img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.articulo .nombre {
  z-index: 1;
  color: white;
  font-size: 1em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: center;
  position: absolute;
  top: 0;
}

.articulo .precio {
  z-index: 1;
  color: white;
  font-size: 1em;
  font-weight: bold;
  width: 100px;
  height: 75px;
  background-color: rgba(255, 0, 0, 0.7);
  padding: 5px;
  text-align: center;
  position: absolute;
  bottom: -35px;
  right: -45px;
  transform: rotate(-45deg);
}

.articulo > * {
  position: relative;
}

.tarjeta {
  width: 150px;
  height: 250px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  overflow: hidden;
  box-shadow: 0px 0px 13px 10px rgba(0, 0, 0, 0.15);
}

.descrip {
  padding: 15px;
  font-size: 0.8em;
}

.tarjeta:hover {
  transform: scale(1.5);
  cursor: pointer;
  z-index: 10;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.imagen-modal {
  max-width: 300%;
  max-height: 300%;
}
footer {
  width: 100%;
  text-align: center;
  padding: 30px;
  margin: 15px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
footer a {
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  font-family: "Akaya Kanadaka", system-ui;
  display: none;
}
@media (max-width: 768px) {
  .container {
    justify-content: space-around;
  }

  .tarjeta {
    width: 45%;
    margin-bottom: 20px;
  }
  footer a {
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    font-family: "Akaya Kanadaka", system-ui;
    display: block;
  }
  nav {
    display: none;
  }
}
